body{
  font-family: Arial, Helvetica, sans-serif;
}
.p-text{
  font-weight: bold;
  font-size: 25px;
}
.grid-todo{
  margin-bottom: 10px;
  display: grid;
  grid-template-columns:  200px 150px 100px;
  row-gap: 10px;
  column-gap: 15px;
  align-items: center;
  font-weight: bold;
}

.css-input{
   font-size: 15px;
   padding: 6px;
}
.css-input::placeholder{
  font-size: 15px;
  
}

.css-date{
  font-size: 15px;
  padding: 6px;
}

.css-button{

  background-color: rgb(29, 182, 29);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.del-button{
  
  background-color: rgb(145, 10, 10);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}